html,
body {
  height: 100%;
  overflow-x: hidden;
}

nav {
  background-color: #e77a58 !important;
}

#map {
  width: 100%;
  height: 100%;
}

#navTop,
#navTabs {
  height: 60px;
  z-index: 1000;
  background-color: #e77a58;
}
